<div id="portfolio" class="container text-center">
  <h2>Portfolio</h2>
  <h4>Some of our friends</h4>
  <div class="row  slideanim text-center">
    <div class="col-sm-3">
      <div class="thumbnail">
      	<%= link_to("http://www.eco-village.md", :target => "_blank") do %>
	        <%= image_tag("ecovil1.png", alt: "eco-village.md") %>
	        <p><strong>eco-village.md</strong></p>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      	<%= link_to("https://success.md/", :target => "_blank") do %>
	        <%= image_tag("success1.png", alt: "success.md") %>
	        <p><strong>success.md</strong></p>
        <% end %>	        
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      	<%= link_to("https://logist.md/", :target => "_blank") do %>
	        <%= image_tag("logigrup1.png", alt: "logist.md") %>
	        <p><strong>logist.md</strong></p>
        <% end %>	        
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      	<%= link_to("http://rutrener.com", :target => "_blank") do %>
	        <%= image_tag("rutrener1.png", alt: "rutrener.com") %>
	        <p><strong>rutrener.com</strong></p>
        <% end %>	        
      </div>
    </div>    
  </div>
</div>