<div id="services" class="container text-center bg-grey">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row  slideanim">
  	<div class="col-sm-1"></div>
    <div class="col-sm-2">
      <%= icon('fas', 'archive  fa-4x', class: 'strong medAq') %>
      <h4>Hosting</h4>
      <p>It's so important to have your website always online...</p><p>We are ready to help you!</p>
    </div>
    <div class="col-sm-2">
      <%= icon('fas', 'laptop  fa-4x', class: 'strong medAq') %>
      <h4>VPS / VDS</h4>
      <p>Virtual server makes your information always available for you from any point of earth... And it's safety.'</p>
      <p>Test it!</p>
    </div>
    <div class="col-sm-2">
      <%= icon('fas', 'server  fa-4x', class: 'strong medAq') %>
      <h4>Dedicated server</h4>
      <p>Dedicated server gives you high level of power and protection...</p>
      <p>Try it now!</p>
    </div>
    <div class="col-sm-2">
      <%= icon('fas', 'cloud  fa-4x', class: 'strong medAq') %>
      <h4>Cloud</h4>
      <p>Do you have a lot of data or photos?...</p>
      <p>Our cloud can store all of them!</p>
    </div>
    <div class="col-sm-2">
      <%= icon('fas', 'phone-square  fa-4x', class: 'strong medAq') %>
      <h4>Technical support</h4>
      <p>Any problem?</p><p>Be calm!</p><p>Our technical support 7/7 is ready to help you!</p>
    </div>
    <div class="col-sm-1"></div>     
    </div>
    <br><br>
  <div class="row slideanim">
    <div class="col-sm-2">
      <%= icon('fas', 'share-alt  fa-4x', class: 'strong medAq') %>
      <h4>Domain</h4>
      <p>It's so boring to choose a suitable domain...</p><p>Try with us! </p>
    </div>
    <div class="col-sm-2">
      <%= icon('fas', 'chart-line  fa-4x', class: 'strong medAq') %>
      <h4>SEO</h4>
      <p>Do you need your website to be in the top?</p><p>We can do it!</p>
    </div>
    <div class="col-sm-2">
      <%= icon('fas', 'newspaper  fa-4x', class: 'strong medAq') %>
      <h4>Developing</h4>
      <p>Do you want your own landing or web-store? Or ... may be ... you need any web-application?</p><p>Do it with us!</p>
    </div>
    <div class="col-sm-2">
      <%= icon('fas', 'paper-plane  fa-4x', class: 'medAq') %>
      <h4>Promotion with Google and Yandex</h4>
      <p>Do you have no time to study "Google ADwords" and "Yandex direct"?</p><p>It's simple to use them with us!</p>
    </div>
    <div class="col-sm-2">
      <%= icon('fas', 'thumbs-up  fa-4x', class: 'strong medAq') %>
      <h4>Promotion in Moldova</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </div>     
    <div class="col-sm-2">
      <%= icon('fas', 'money-bill-alt  fa-4x', class: 'strong medAq') %>
      <h4>Chargeless for begginers</h4>
      <p>Do you have no money? It's not a problem!</p><p>Try free hosting and make your own website yourself...</p>
    </div>        
  </div>
</div>