<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>Moldova<br>Beverly Hills, CA 90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><%= icon('fab', 'facebook-f fa-spin fa-2x', class: 'strong') %></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><%= icon('fab', 'google-plus fa-spin fa-2x', class: 'strong') %></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><%= icon('fab', 'twitter fa-spin fa-2x', class: 'strong') %></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><%= icon('fab', 'linkedin fa-spin fa-2x', class: 'strong') %></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><%= icon('fab', 'dribbble fa-spin fa-2x', class: 'strong') %></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Us</h3>
                    <p>We provide an easy to use, modern service created by<br>
                    <div class="footer-col col-md-5"></div>
                    <div class="footer-col col-md-2"><center><%= link_to "#{image_tag('logo-fast.png', :alt => 'logo', :width => "60", :height => "35")}".html_safe, "http://www.fast.md", id: "logo" %></center></div>
                    <div class="footer-col col-md-5"></div>	
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Fast.md 2018
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <%= icon('fab', 'chevron-up fa-spin fa-2x', class: 'strong') %>
    </a>
</div>


